<div class="archive-profile">
<h1 class="stage-title">
<i class="fas fa-archive"></i>文章列表
</h1>

<div id="archive">
  <ul class="post-list">
    <% var year = 0 %>
    <% var change = false %>
    <% var field_sort = theme.archive.sort_updated ? 'updated' : 'date' %>
    <% page.posts.sort(field_sort, 'desc').each(function(post) { %>
      <% var itemYear = date(post[field_sort], 'YYYY') - 0 %>
      <% change = year !== itemYear %>
      <% year = change ? itemYear : year %>
      <% if (change) { %>
        <li class="post-year"><h2><%= year %></h2></li>
      <% } %>
      <li class="post-item">
        <%- partial('_partial/post/date', { post: post, class_name: 'meta' }) %>
        <%- partial('_partial/post/title_with_category', { post: post, index: true, class_name: '' }) %>
      </li>
    <% }); %>
  </ul>
  <%- partial('_partial/pagination') %>
</div>
