    <% var ps = page.posts.sort({title: 1}) %>
<header><h1 class="categorytitle" itemprop="name headline"><i class="fas fa-archive"></i>
        <%- page.title %>
    </h1></header>
<div id="archive">
  <ul class="post-list">
    <% ps.each(function(post) { %>
      <li class="post-item">
        <%- partial('_partial/post/title', { post: post, index: true, class_name: '' }) %>
      </li>
    <% }); %>
  </ul>
  <%- partial('_partial/pagination') %>
</div>
