<div class="archive-profile">
<h1 class="stage-title">
<i class="fas fa-archive"></i><%- page.category %>
</h1>

<div id="archive">
  <ul class="post-list">
    <% page.posts.sort({title: 1}).toArray().sort(function(a,b){return getIndex(a.title)-getIndex(b.title);}).forEach(function(post) { %>
      <li class="post-item">
        <%- partial('_partial/post/title', { post: post, index: true, class_name: getIndex(post.title) }) %>
      </li>
    <% }); %>
  </ul>
  <%- partial('_partial/pagination') %>
</div>
