<section id="about">
  <% if (config.description) { %>
    <%- markdown(config.description) %>
  <% } %>
</section>

<section id="writing">
  <div id="categories">
    <div class="category-list-title">
      <% var visibleCategories = 0 %>
      <% site.categories.each(function(cat) { %>
        <% if (cat.length) { %>
          <% visibleCategories += 1 %>
        <% } %>
      <% }) %>
      <%- _p('counter.categories', visibleCategories) %>
    </div>
    <div class="h1">
        <%- replaceCategoryTitles(list_categories()) %>
    </div>
  </div>
</section>

<% function replaceCategoryTitles(text) { %>
  <%- text.replace(/\(/g, '<span class="category-teacher">(').replace(/\)/g, ')</span>') %>
<% } %>