#categories
  .category-list-title
    color: $color-meta
  .category-list
    .category-list-item
      .category-list-count
        color: $color-meta
      .category-list-count:before
        content: " ("
      .category-list-count:after
        content: ")"
      .category-teacher
        color: $color-meta
        font-size: 0.75rem
      .category-teacher:before
        content: " "
